################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MemeGenerator/MemeGenerator/obj/*
/MemeGenerator/MemeGenerator/bin/*
MemeGenerator/packages/*