################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MemeGenerator/MemeGenerator/obj/Debug
/MemeGenerator/MemeGenerator/bin/Debug
MemeGenerator/packages/*
