################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WanaBot/WanaBot/obj/Debug
/WanaBot/WanaBot/bin/Debug
WanaBot/packages/*
